<!DOCTYPE html>
<html>
    <head>
        <title>Детали</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <header>
            <a href="{{ url_for('index') }}">Анализатор страниц</a>
            <a href="{{ url_for('show_urls')}}">Сайты</a>
        </header>
        {% with messages = get_flashed_messages() %} 
        {% if messages %}
        <p>{{ messages }}</p>
        {% endif %} 
        {% endwith %}
        <form action="{{ url_for('check_url', id=id)}}" method="post">
            <p>{{ url }}</p>
            <button type="submit">Проверить</button>
        </form>
        {% if url_check_data %}
        <ul>
            {% for url_check in url_check_data %}
            <li>
                {{ url_check }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </body>
</html>