<!DOCTYPE html>
<html>
    <head>
        <title>Все добавленные сайты</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <header>
            <a href="{{ url_for('index') }}">Анализатор страниц</a>
            <a href="{{ url_for('show_urls')}}">Сайты</a>
        </header>
        <div class="sites">
            <h1>Сайты</h1>
            {% if urls %}
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Имя</th>
                        <th>Последняя проверка</th>
                        <th>Код ответа</th>
                    </tr>
                </thead>
                {% for url in urls %}
                <tbody>
                    <tr>
                        <td>{{ url[0] }}</td>
                        <td><a href="{{ url[1] }}">{{ url[1] }}</a></td>
                        <td>{{ url[2] }}</td>
                        <td>{{ url[3] }}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </body>
</html>